<mat-toolbar color="primary" class="navbar">
  <span class="brand" routerLink="/products">
    <mat-icon>shopping_bag</mat-icon>
    SmartShop
  </span>

  <span class="spacer"></span>

  @if (authService.isLoggedIn()) {
    <span class="user-email">
      {{ authService.userEmail() }}
      @if (authService.isAdmin()) {
        <span class="role-badge">Admin</span>
      }
    </span>

    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Salir
    </button>
  } @else {
    <button mat-button routerLink="/login">Entrar</button>
    <button mat-raised-button color="accent" routerLink="/register">Registrarse</button>
  }
</mat-toolbar>
